/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #c2c2c2;
  margin: 0;
  font-family: 'Quattrocento', serif;
}
header {
  background: #a8a8a8;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}